.ui-mobile-viewport h1.banner, h1.banner span {
  background-color: #1259a7;
}
.banner img {
  width: 30px;
  height: 30px;
  margin: 0 0 -5px 0;
}
.ctl-btn.ui-btn, .ctl-btn.ui-btn:visited,
.ui-page-theme-a .ui-btn.ui-btn-active,
.ui-btn.ui-checkbox-on:after,
.dir-mode-btn.ui-btn,
.ui-btn-icon-left:after,
a.popup-closer {
  background-color: rgba(18,89,167,0.7);
}
.ctl-btn.ui-btn:hover, .ctl-btn.ui-btn:visited,
.dir-mode-btn.active-mode, .dir-mode-btn.ui-btn:hover,
.ui-btn-icon-left:hover:after,
a.popup-closer:hover,
.ctl-collapse a.ui-collapsible-heading-toggle:hover:after {
  background-color: #1259a7;
}
#facility-list .info .map.ui-btn {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%3E%3Cpath%20style%3D%22fill%3A%231259a7%3Bstroke%3A%231259a7%3Bstroke-width%3A20%22%20d%3D%22m%20256%2C25.6%20c%20-95.4279%2C0%20-172.8%2C77.3721%20-172.8%2C172.8%200%2C95.4279%20144%2C288%20172.8%2C288%2028.8%2C0%20172.8%2C-192.5721%20172.8%2C-288%20C%20428.8%2C102.9721%20351.4279%2C25.6%20256%2C25.6%20Z%20m%200%2C288%20c%20-63.5346%2C0%20-115.2%2C-51.6942%20-115.2%2C-115.2%200%2C-63.5058%2051.6654%2C-115.2%20115.2%2C-115.2%2063.5346%2C0%20115.2%2C51.6942%20115.2%2C115.2%200%2C63.5058%20-51.6654%2C115.2%20-115.2%2C115.2%20z%22%2F%3E%3C%2Fsvg%3E");
}
.info .directions.ui-btn {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512px%22%20height%3D%22512px%22%3E%3Cpath%20d%3D%22M504.401%2C237.893L273.994%2C7.486c-9.988-9.981-26.245-9.981-36.102%2C0L7.486%2C237.893c-9.981%2C9.988-9.981%2C26.251%2C0%2C36.227%20%20l230.406%2C230.282v0.125c9.988%2C9.987%2C26.251%2C9.987%2C36.227%2C0l230.407-230.407C514.514%2C264.006%2C514.514%2C247.881%2C504.401%2C237.893z%20%20%20M307.145%2C319.945v-64.002H204.742v76.803H153.54V230.343c0-14.207%2C11.395-25.601%2C25.601-25.601h128.004V140.74l89.604%2C89.603%20%20L307.145%2C319.945z%22%20fill%3D%22%231259a7%22%2F%3E%3C%2Fsvg%3E");
}
#lang-btn {
  position: fixed;
  left: 3px;
  bottom: 80px;
  z-index: 2;
}
#loading, #facility-list .info.even-row {
  background-color: rgba(18,89,167,0.1);
}
.cuisine {
  margin: 5px 0;
}
