#banner img {
  width: 30px;
  height: 30px;
  float: left;
  background-color: transparent;
  margin: -1px 3px 0 -3px;
}
#filters .chc label {
  line-height: 20px;
  padding: 7.5px 0;
}
.fnd a.btn.phone {
  display: block;
  width: auto;
  margin-bottom: 3px;
}
@media only screen and (max-width : 490px) {
  .fnd #banner * {
    font-size: 3.5vw;
    color: #fff;
    line-height: 0.95em;
  }
}
@media only screen and (max-width: 360px) {
  .fnd #banner>div {
    margin-right: 90px !important;
  }
}