#banner img {
  width: 30px;
  height: 30px;
  float: left;
  background-color: transparent;
  margin: -1px 3px 0 -3px;
}
#filters .chc label {
  line-height: 20px;
  padding: 7.5px 0;
}
.fnd a.btn.phone {
  display: block;
  width: auto;
  margin-bottom: 3px;
}